<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Skills</h1>
    <ul style="list-style-type: none;">
        <% skills.forEach(function(s) { %>
        <li style="margin:15px 25px 15px 25px">
            <%= s.id %>
            -
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            -
            <%= s.level %>
        </li>
        <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
</body>
</html>